nav{
     z-index: 10000;
}
nav >#sm_navmenuprincipal{
    text-align: center;
   
}             
#sm_navmenuprincipal{
    display: block;
    clear: both ;
    text-align: center;
    margin-bottom: 10px !important;
    padding-top: 0px;
    
    padding-left: 0px;



}

#sm_navmenuprincipal a{
    color: darkblue ;
    -webkit-animation: all ease-in-out 1s;
}

#sm_navmenuprincipal li,#sm_navmenuprincipal a{
    list-style: none;
    text-decoration:  none;
}

/*dividir entre dos el menu y el banner*/
.sm_ulmenucontainer{
    text-align: center;
    margin-left: -5px;
    display: inline-block;   
   
    border-bottom: 2px solid rgba(0,0,0,0);

}
.submenu{
    margin-right: 0px; 
}

.sm_ulmenucontainer:hover{
    border-bottom: 2px solid rgba(0,0,0,0.4);


}
#sm_navmenuprincipal > .sm_ulmenucontainer:hover  .sm_ulsubmenucontainer:first-child{
    border-left: 1px solid lightblue;


}


.sm_ulmenucontainer:hover a{
    color: darkgreen;
    font-weight: 500;

}

/*mostrar submenu on hover*/
.sm_ulmenucontainer:hover .submenu{
    visibility: visible;/*AQUIIIIIIIIIIII HCIMOS ALGO*/
}
hr{
    clear: both;                 
}


nav{
    font-size: 1.2em;
}
/*submenu estiloooo*/

.submenu{

    position: absolute;
    margin-left:  0px;

}


.sm_ulsubmenucontainer{
    border:  solid rgba(0,0,0,0.1) 1px;
    /*aqui iba padding de 5%*/
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 5px;
    
    background-color: white;
    text-align: left;


}

.sm_ulsubmenucontainer:hover{
    border-right:  solid blue 1px;

}

.submenu .submenu .submenucontainer{
    border-right:  solid rgba(0,0,0,0) 1px;

}

   

.submenu  .sm_ulsubmenucontainer a{
    color:darkblue !important;
    display: block;
    white-space: nowrap;
    padding-left: 5px;
    padding-right: 5px;

}
/*temporal,.. es el menu*/
.submenu .submenu  .sm_ulsubmenucontainer a{
    color:black !important;
}

.sm_ulsubmenucontainer a:hover{
    color:lightblue !important;
}
.submenu{
    visibility: hidden;
   
    /*caulquier cosa se pone en display:none*/
}

/*submenu dentro de otro submenu*/
.sm_ulsubmenucontainer .submenu{
    display: none !important;
}

.sm_ulsubmenucontainer:hover  > .submenu{
    display: block !important;
}
.submenu .submenu .sm_ulsubmenucontainer a:hover{
    color:gray !important;

}
.menucontainer .sm_ulsubmenucontainer:hover{
    border-top:1px solid lightblue;
    border-bottom:1px solid lightblue;
}

/*esto es para la imageeeen*/



.submenu li{
       border-right: 2px solid rgba(0,0,255,0.3);
       border-left:  1px solid lightblue;
   
}

/*actualizacion*/
header{
    width: 100%;
    padding: 5px;

}
header nav{
    padding: 5px;
   margin-top: 20px;
     margin-bottom:  20px;
  margin-left: auto;
    margin-right: auto;
  
    width: 800px;
    box-shadow: 0 0 5px black;
}

.sm_ulmenucontainer > .menulinks{
   
    padding: 5px;
    

}

.submenu{
     z-index: 10000;
     padding-left:0 ; 
     margin: 0 auto;
     
}
.submenu .submenu{
    margin-left: 40px;
    padding-left: 0px;
   
    -webkit-animation: ease-in-out all 1s;
}
