#sm_body{
    
}
#sm_div_contenedor{
    background-color: lightblue;
    margin: 0;
    padding: 30px;
    padding-top: 8.5%;
    padding-bottom: 8.5%;
    padding-left: 8.5%;
    padding-right: 8.5%;
    border-radius: 10px;
}
#sm_div_informacionUsuario{
    padding: 10px;
    font-size: 120%;
}
#sm_tb_usuario, td{
    margin: 0px;
    padding: 4px;
}
#sm_fs_fs{
    border-radius: 5px;
}
#sm_fs_fs, #sm_lg_leyeda{
    padding: 4px;
}
#sm_lg_leyeda{
    border: 1px solid;
    text-align: center;
}