#sm_form_registroinformacion{
    padding: 10px;
    float: left;
}
#sm_div_registerImage{
    float: left;
    padding-top: 100px;
    padding-left: 20px;
}
#imgImagenCargada{
    border-style: solid;
    padding: 2px;
    border-width: 1px;
}