/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 7 oct. 2014, 10:38:26
    Author     : FchescO
*/

#sm_body_ventanamodal{
    width: calc(100%-200px);
}
#sm_div_registerImage{
  
    padding: 5px;
    float: left;

    width: 40%;
}

#sm_tb_campos{

    display: block;
}

#sm_form_registroinformacion{
   
    float: left;
    width: 55%;
}