#sm_form_registroinformacion{
    padding: 10px;
    float: left;
}
#sm_div_registerImage{
    float: left;
    padding-top: 80px;
    padding-left: 20px;
    padding-bottom: 80px;
}
#imgImagenCargada{
    border-style: solid;
    padding: 2px;
    border-width: 1px;
}
#sm_tb_campos, td{
    margin: 0px;
    padding: 4px;
}
#sm_tb_imagen, td{
    margin: 0px;
    padding: 4px;
}
#txtDes, #txtOb{
    height: 10em;
    width: 300px;
}
#LetrasRestantes1, #LetrasRestantes2{
    font-size: 80%;
}
#contadorCaracteres1, #contadorCaracteres2{
    float: next;
}
#btnImagenActivo{
    display: none;
}